<div class="accountsettingsbody">
	
	<div class="userpic">
		
	</div>

	<div class="userdetails">
		<h1>Account Settings</h1>
		<hr>
		<div class="userinfo">
			<h4>
				First Name: <input placeholder="<%= current_user.fname %>" type="text">
			</h4>
			<h4>
				Last Name: <input placeholder="<%= current_user.lname %>" type="text">
			</h4>
			<h4>
				Email: <input placeholder="<%= current_user.email %>" type="text">
			</h4>
			<h4>
				Location: <input placeholder="<%= current_user.address %>"type="text">
			</h4>
			<h4>
				Phone: <input placeholder="<%= current_user.phone %>" type="text">
			</h4>
			<h4>
				Gender: <input placeholder="<%= current_user.gender %>" type="text">
			</h4>
			<h4>
				Favorite Bike: <input placeholder="<%= current_user.bikemodel %>" type="text">
			</h4>
			<h4>
				Bio: <input placeholder="<%= current_user.bio %>" type="text">
			</h4>
			<h4>
				Delete Account? Click <a href="/deleteaccount">Here.</a>			
			</h4>
		</div>
	</div>























	
</div>