<div class="accountsettingsbody">
	
	<div class="userpic">
		
	</div>

	<div class="userdetails">
		<h1>Account Settings</h1>
		
		<div class="userinfo">
			<form action="/updatesettings" method="POST">
				<h4>
					First Name: <input value="<%= current_user.fname %>" type="text" name="[user]fname">
				</h4>

				<h4>
					Last Name: <input value="<%= current_user.lname %>" type="text" name="[user]lname">
				</h4>

				<h4>
					Email: <input value="<%= current_user.email %>" type="text" name="[user]email">
				</h4>

				<h4>
					Location: <input value="<%= current_user.address %>"type="text" name="[user]address">
				</h4>

				<h4>
					Phone: <input value="<%= current_user.phone %>" type="text" name="[user]phone">
				</h4>

				<h4>
					Gender: <input value="<%= current_user.gender %>" type="text" name="[user]gender">
				</h4>

				<h4>
					Favorite Bike: <input value="<%= current_user.bikemodel %>" type="text" name="[user]bikemodel">
				</h4>

				<h4>
					Bio: <br><textarea "<%= current_user.bio %>" type="text" name="[user]bio"><%= current_user.bio %></textarea>
				</h4>
				<input class="updateinfo" type="submit" value="Update Info">

				<h4>
					Delete Account? Click <a href="/deleteaccount">Here</a>.			
				</h4>
			</form>
		</div>
	</div>

















	
</div>